html {
  scroll-behavior: smooth;
}

.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}

.skills-container {
  font-size: 35px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 160px);
}

.skills img {
  height: 55px;
  width: 55px;
  margin: 10px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  color: whitesmoke;
  margin-left: 30px;
  text-decoration: none;
}

icons a :hover {
  cursor: pointer;
}

.prompt a {
  margin-left: 30px;
  text-decoration: none;
}
