.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.projects-container {
  margin-top: 60px;
  display: block;
  position: relative;
  width: 98%;
  max-height: 90%;
}
.project-entry {
  display: block;
  width: 100%;
  max-height: 90%;
  margin-bottom: 40px;
  align-items: center;
  justify-items: center;
  border: 2pt solid #9aafd9;
  border-radius: 20px;
  animation: fadeIn 2s;
}
.project-entry:hover {
  border: 2.5pt solid #002b5b;
}
.project-img {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  padding: 1px;
  position: relative;
}
.project-info a {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  /* text-decoration: none; */
  color: #002b5b;
  margin: 0 -0.55rem;
  padding: 0 0.55rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.project-github svg:hover {
  width: 40px;
  height: 40px;
  color: #9adcff;
}
.project-title:hover {
  box-shadow: inset 500px 0 0 0 #002b5b;
  text-decoration: none;
  color: white;
}
.project-info {
  width: 90%;
  max-width: 500px;
  padding-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 1em;
  color: #2b4865;
}
.project-info div {
  margin: 15px 0;
}

.project-tech {
  margin: 15px;
  font-size: 0.9em;
  display: inline-flex;
  color: grey;
}
